{% load static %}
<title> Mana Retreat Center</title>
<link rel="shortcut icon" type="image/png" href="/static/img/potion.png">
<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />
<link rel="stylesheet" href="/static/css/faq.css?{{ now  }}" />
<div id="top">
    <div id="title">Mana Retreat Center
        <div class="sub">Vega Alta, Puerto Rico</div>
    </div>
</div>
<div id="vid">
    <iframe style="position:relative;" src="https://player.vimeo.com/video/823063461?h=ce4bc70846&title=0&byline=0&portrait=0&muted=1&loop=1&repeat=1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

</div>
    <div id="videoCover" ></div>
    <div id="videoPlay" ></div>


<div id="top2">
    <div class="item food" id="food"> 
        <div class="bg">
        </div>
        <div class="text">
            Food Forests
        </div>
    </div>
     <div class="item retreat" id="retreat"> 
        <div class="text">
            Retreat Center
        </div>
    </div>
     <div class="item tech" id="tech"> 
        <div class="text">
            Tech Coliving
        </div>
    </div>
    <div id="mana">MANA</div>
    <div id="btns">
        <div id="btnDesc" style="">
            Mana Retreat Center is nestled in the tropical hills of Vega Alta, surrounded by nature and ripe for adventure. We invite you to join us in fulfilling the potential of this magical property.
        </div>
        <div id="old"></div>
    </div>
    <div class="title2">THE PROPERTY </div>

</div>


<!-- Mosaic -->
<div class="container">
    <div class="tile">
        <img src="{% static "img/1.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/2.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/3.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/4.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/8.jpg" %}" alt="">
    </div>
</div>
    <div id="map"></div>
    <div id="mapDesc">⇢ Secluded and private, yet close to everything ⇠</div>
<div id="opps">
    <div class="opp">
        <h1>Resident</h1>
        <ul>
            <li> m2m terms
            <li> Private $600+, Shared $300+
            <li> Co-create our eco tourism village
        </ul>
        <div class="booknow">
            <a href="https://dtxr6go41uq.typeform.com/to/lf5xr7cH" target="_blank">JOIN US</a>
        </div>

    </div>
    <div class="opp">
        <h1>Caretaker</h1>
        <ul>
            <li> Free rent + Rev share
            <li> Lead on-site development
            <li> Become a vested partner
        </ul>
        <div class="booknow">
            <a href="mailto: charlie@vannorman.ai?subject=Catalyst Resident at Mana House&body=Thanks for your interest in becoming a Catalyst Resident! Please write a few sentences about your experience with coliving, and what contributions you could bring to Mana House." target="_blank">APPLY NOW</a>
        </div>

    </div>
</div>

<!-- FAQ -->
<div id="faq">
    <div class="title2"> FAQ </div>

    <button class="accordion">What is different about Mana House?</button>
        <div class="panel">
              <p>More than just your shared home with housemates, Coliving is for people who share intention, values, and interests. To steal from Guy Perdix's article on coliving: "We want to help people on their journey of transition. Help them fulfil their intention in search for alignment. Not telling them who they should be or how they should get there, but giving them the tools, resources, community, and necessary confrontation to build a life journey that is aligned with who they truly are at their core." Well said, Guy – that is what we're creating, and we'd love it if you would join us.
        </p>
        </div>
    <button class="accordion">I keep to myself, is Mana House for me?</button>
        <div class="panel">
              <p>While we don't expect you to be "on" every minute of every day, a certain level of group participation is what we're going for. I (Charlie) am an introvert, and I look forward to our weekly dinner and mastermind group; other times, I may disappear for a few days for deep work or to recharge.
        </p>
        </div>
    <button class="accordion">What's the Round Rock neighborhood like?</button>
        <div class="panel">
              <p>Very nice, safe, clean neighborhood. Bike required for local shops access (1 mile). Car recommended.
        </p>
        </div>
    <button class="accordion">What are the meals like?</button>
        <div class="panel">
          <p>We have a group dinner every Friday evening at 5-6 pm. This could range from a gourmet garlic curry dish on top of chicken breasts, to pizza that we order from the local shop.

        </p>
        </div>
    <button class="accordion">What are the housemates like?</button>
        <div class="panel">
          <p>Entrepreneurs, artists, techies, and people interested in growing themselves and helping others.
        </p>
        </div>

    <button class="accordion">How far from Downtown Austin?</button>
        <div class="panel">
        <p> 35 minutes.
        </p>
        </div>



</div>



<div id="team">
    <div class="title2">TEAM</div>

    <div class="member">
        <img src="/static/img/damaris.jpg" />
        <h2> Damaris </h2>
        Teacherpreneur
        <br> Coach, Educator
    
    </div>
    <div class="member">
        <img src="/static/img/sam.jpg" />
        <h2> Sam  </h2>
        Chief Investment Analyst
        <br> Orchestrator of Fun
    </div>
    <div class="member">
            <img src="/static/img/charlie.jpg" />
            <h2> Charlie </h2>
            Regenerative developer
        <br> EdTech entrepreneur
    </div>
    <div class="member">
            <img src="/static/img/lisa.jpg" />
            <h2> Lisa </h2>
            Coach, Women's Leader
        <br> Super U Podcast Host
    </div>
</div>

    <br><br><br>
        <div class="booknow">
            <a href="https://airbnb.com/rooms/843345672223944033" target="_blank">Book on Airbnb</a>
            <br>
            <a href="https://dtxr6go41uq.typeform.com/to/lf5xr7cH" target="_blank">APPLY NOW</a>
            <br>
        </div>


<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/static/js/jquery-min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/faq.js"></script>

