{% load static %}
<title> Mana Retreat Center</title>
<link rel="shortcut icon" type="image/png" href="/static/img/potion.png">
<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />
<link rel="stylesheet" href="/static/css/faq.css?{{ now  }}" />
<div id="top">
    <div id="title">Mana Retreat Center
        <div class="sub">Vega Alta, Puerto Rico</div>
    </div>
</div>
<div id="pic"></div>
<div id="top2">
    <div class="item"> 
        <div class="text">
            Food Forests
        </div>
    </div>
     <div class="item"> 
        <div class="text">
            Permaculture
        </div>
    </div>
     <div class="item"> 
        <div class="text">
            Retreat Center
        </div>
    </div>
     <div class="item"> 
        <div class="text">
            Eco Tourism
        </div>
    </div>
</div>
<!-- Summary -->
<div id="fold1">
    <div id="brief">
        <h3>

        </h3>
        <p> A 5-acre rainforest farm, Mana Retreat Center is an ongoing development project. We invite you to join us on our journey to fulfilling the potential of this magical property. 




    </div>
    <div id="map"></div>
    <div id="mapDesc">Secluded and private, yet close to everything</div>
</div>


<!-- Mosaic -->
<div class="title2">THE PROPERTY </div>
<div class="container">
    <div class="tile">
        <img src="{% static "img/1.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/2.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/3.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/4.jpg" %}" alt="">
    </div>
    <div class="tile">
        <img src="{% static "img/8.jpg" %}" alt="">
    </div>
</div>


<div id="opps">
    <div class="opp">
        <h2>Resident</h2>
        <ul>
            <li> 3+ months, flexible terms
            <li> Private rooms from $795
            <li> Shared rooms from $595
            <li> Live with awesome people
        </ul>
        <div class="booknow">
            <a href="https://dtxr6go41uq.typeform.com/to/lf5xr7cH" target="_blank">JOIN US</a>
        </div>

    </div>
    <div class="opp">
        <h2>Catalyst Resident</h2>
        <ul>
            <li> 2 - 8 weeks <u>rent-free</u> (contribution based)
            <li> Offered to the first 2-3 residents
            <li> Help shape our culture and vibe
        </ul>
        <div class="booknow">
            <a href="mailto: charlie@vannorman.ai?subject=Catalyst Resident at Mana House&body=Thanks for your interest in becoming a Catalyst Resident! Please write a few sentences about your experience with coliving, and what contributions you could bring to Mana House." target="_blank">APPLY NOW</a>
        </div>

    </div>
</div>

<!-- FAQ -->
<div id="faq">
    <div class="title2"> FAQ </div>

    <button class="accordion">What is different about Mana House?</button>
        <div class="panel">
              <p>More than just your shared home with housemates, Coliving is for people who share intention, values, and interests. To steal from Guy Perdix's article on coliving: "We want to help people on their journey of transition. Help them fulfil their intention in search for alignment. Not telling them who they should be or how they should get there, but giving them the tools, resources, community, and necessary confrontation to build a life journey that is aligned with who they truly are at their core." Well said, Guy – that is what we're creating, and we'd love it if you would join us.
        </p>
        </div>
    <button class="accordion">I keep to myself, is Mana House for me?</button>
        <div class="panel">
              <p>While we don't expect you to be "on" every minute of every day, a certain level of group participation is what we're going for. I (Charlie) am an introvert, and I look forward to our weekly dinner and mastermind group; other times, I may disappear for a few days for deep work or to recharge.
        </p>
        </div>
    <button class="accordion">What's the Round Rock neighborhood like?</button>
        <div class="panel">
              <p>Very nice, safe, clean neighborhood. Bike required for local shops access (1 mile). Car recommended.
        </p>
        </div>
    <button class="accordion">What are the meals like?</button>
        <div class="panel">
          <p>We have a group dinner every Friday evening at 5-6 pm. This could range from a gourmet garlic curry dish on top of chicken breasts, to pizza that we order from the local shop.

        </p>
        </div>
    <button class="accordion">What are the housemates like?</button>
        <div class="panel">
          <p>Entrepreneurs, artists, techies, and people interested in growing themselves and helping others.
        </p>
        </div>

    <button class="accordion">How far from Downtown Austin?</button>
        <div class="panel">
        <p> 35 minutes.
        </p>
        </div>



</div>


<!-- PRICING & ACOCMODATIONS -->
<div id="pricing">
    <div class="title2">PRICING & ACCOMODATIONS</div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/cot.jpg)";></div>
        <div class="desc">  
            <h3> Cushioned Cot ($250)</h3>For temporary stays. Shared room.
        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bunk.jpg)";></div>
        <div class="desc">  
            <h3> Bunk room ($595) </h3>Full bed. Room sleeps between 2-4. Bath shared with 3-4 people.
        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bed.jpg)";></div>
        <div class="desc">  
            <h3> Private bedroom ($795) </h3>Queen bed. Bath shared with 3-4 people.

        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/bedroom.jpg)";></div>
        <div class="desc">  
            <h3> Hobbit Hole ($400) </h3>Secret Under-stairs room.
        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/apt.jpg)";></div>
        <div class="desc">  
            <h3> RV Camper ($TBD) </h3>Separate unit, Queen bed, couch, private bath, kitchen.

        </div>
    </div>
    <div class="item">
        <div class="pic" style="background-image:url(/static/img/plus.jpg)";></div>
        <div class="desc">  
            <h3> TBD ($$) </h3> Our house is constantly being upgraded and new ideas are welcome!
        </div>
    </div>
</div>

        <div class="booknow">
            <a href="mailto: charlie@vannorman.ai?subject=Living at Mana House" target="_blank">APPLY NOW</a>
        </div>

<div id="team">
    <div class="title2">TEAM</div>

    <div class="member">
        <img src="/static/img/damaris.jpg" />
        <h2> Damaris Ayala</h2>
        Teacherpreneur
        <br> Coaching + Education
    
    </div>
    <div class="member">
        <img src="/static/img/dog.jpg" />
        <h2> Jackson </h2>
        Fuzzy buddy
        <br> Goodest boy 
    </div>
    <div class="member">
            <img src="/static/img/charlie.jpg" />
            <h2> Charlie Van Norman</h2>
            Regenerative developer
        <br> EdTech entrepreneur
    </div>
    <div class="member">
            <img src="/static/img/lisa.jpg" />
            <h2> Lisa Betts-LaCroix</h2>
            Actor, Coach, Women's Leader
        <br> Super U Podcast Host
    </div>
</div>

    <br><br><br>
        <div class="booknow">
            <a href="https://airbnb.com/rooms/843345672223944033" target="_blank">Book on Airbnb</a>
            <br>
            <a href="https://dtxr6go41uq.typeform.com/to/lf5xr7cH" target="_blank">APPLY NOW</a>
            <br>
        </div>


    <div class="title2">Mana House</div>
    <div style="text-align:center;">Contact: Charlie 650-695-8930</div>
<div id="footer"> Round Rock, TX </div>
<script src="/static/js/faq.js"></script>

